<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Editar de Gyms</title>
</head>
<body>
	<h1>Editar de GYM</h1>
	<br>
	<a th:href="@{/GYM/INICIO}">Regresar</a>
	<br>
	<form th:action="@{/GYM/EDITAR}" method="post" th:object="${gym}">
		<label for="id">Id</label>
		<input type="text" name="id" th:field="*{id}">
		<br>
		<label for="nombre">Nombre</label>
		<input type="text" name="nombre" th:field="*{nombre}">
		<br>
		<label for="inscripcion">Inscripcion</label>
		<input type="text" name="inscripcion" th:field="*{inscripcion}">
		<br>
		<label for="mensualidad">Mensualidad</label>
		<input type="text" name="mensualidad" th:field="*{mensualidad}">
		<br>
		<label for="estado">Estado</label>
		<input type="text" name="estado" th:field="*{estado}">
		<br>
		<input type="submit" name="editar" value="Editar">
	</form>
</body>
</html>